@{
    ViewData["Title"] = "AgregarTarea";
}


<div>
         <form asp-action="AgregarTarea" asp-controller="Home" method="post">
            <input type="Titulo" name="Titulo" placeholder="Titulo" required>
            <input type="Descripcion" name="Descripcion" placeholder="Descripcion" required>
            <input type="FechaDeEntrega" name="FechaDeEntrega" placeholder="FechaDeEntrega" required>
            <input type="Prioridad" name="Prioridad" placeholder="Prioridad" required>
            <button type="submit">Agregar Tarea</button>
         </form>
</div>