@{
    ViewData["Title"] = "Index";
}

<header>
    <h1></h1>
</header>
<div>
         <form asp-action="Login" asp-controller="Home" method="post">
            <input type="Username" name="Username" placeholder="Username" required>
            <input type="Password" name="Password" placeholder="Password" required>
            <button type="submit">Login</button>
         </form>
</div>